html
    head 
        link(rel="stylesheet", href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css")
    body 
        form
            div #{title}
                img(src="", alt="")
                input(type="text", placeholder="검색")
                button.bg-black-600  보내기