doctype html
html(lang='ko')
    head
        link(rel="stylesheet", href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css")
        title letter of self-introduction
      
    body
        form 
            h2 자기소개서
            #container.col
                p 좋아하는 시나 소설, 노래, 영화를 중심으로 자신을 자유롭게 소개해 주세요.
                p
                    | 설명...
